
/*
 * Playfair Theme
 * -------------
 *
 */

@import url(http://fonts.googleapis.com/css?family=Euphoria+Script|Jacques+Francois+Shadow|Parisienne|Pinyon+Script);

body.chart {
    font-weight: 400;
    margin:5px 10px;
    font-size: 12px;
    background: #FEFAF2;
    overflow: visible;
    font-family: Palatino, Georgia, serif;
    overflow-x:hidden;
}

html body.chart.fullscreen {
    background: #FEFAF2!important;
}

a {
    color: #b24405;
}

h1 {
    font-family: 'Pinyon Script', serif;
    font-size: 25px;
    font-weight: 300;
    margin: 0 0 20px;
    text-align: center;
    text-shadow: 0px 0px 2px #F28445, 2px 2px 3px rgba(0,0,0,.2);
}

h1 span {
    border-bottom: 1px solid #000;
    padding: 3px 20px;
    padding-bottom: 2px;
}

.chart p { margin: 15px 0; line-height: 19px;}

#chart {
    margin-top: 25px;
}

.label span {
    font-size: 15px;
    color: #000;
    font-family: 'Euphoria Script', serif;
}

.label.highlighted, .label.axis {
    font-size: 14px;
    z-index: 100;
}

.label.hover {
}

.label.inverted span {
    color: #fff;
}

.label.highlighted {
}

.label.value span {
    font-size: 14px;
}

.label.series span {
    font-size: 14px;
       font-family: 'Jacques Francois Shadow', cursive;
   text-transform: uppercase;
}


.tooltip {
    z-index: 200;
    padding-bottom: 0px;
}

.tooltip .content {
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    padding: 5px 8px;
}

.tooltip label {
    font-weight: 700;
}

.tooltip label:after {
    content: ": ";
}

.label.tooltip {
    border-radius: 15px;
    padding: 3px 8px!important;
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);
}

#footer {
    margin: 10px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #888;
    font-family: 'Parisienne', serif;

}

.footer-left {
    float: left;
}
.footer-right {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

svg .axis, svg .tick, svg .grid, svg rect {
    shape-rendering: crispEdges;
}


.label.rotate90 {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.label.smaller span {
    font-size: 80%;
}

.line-chart .label.series span,
.line-chart .label.axis span {
    background-color: #FEFAF2;
}