{% extends "core.twig" %}
{% use "utils.twig" %}

{% block content %}

<div id="team-create"></div>

<script type="text/javascript" src="/static/js/svelte/team-create.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/svelte/team-create.css"></script>

<script type="text/javascript">
    require(['svelte/team-create'], function(mod) {
        var data = {{data|json|raw}};
        mod.set(data);
        window.create = mod;
    });
</script>

{% endblock %}