*.bts
*.css.map
*.log
*.sublime-project
*.sublime-workspace
.dgsstoken
.DS_Store
.env
.gitignore-global
.idea/*
.project
.reify-cache
archive.tar
assets/vendor/*
bower_components/
charts/data/*
charts/exports/*
charts/images/*
charts/static/*
composer.phar
config.php
config.yaml
crowdin.yaml
dw-translations.p12
dw.js/yarn.lock
exports/*
fabfile.py*
legacy/*
lib/core/build/conf/datawrapper-conf.php
lib/core/buildtime-conf.xml
lib/core/propel-gen
lib/core/runtime-conf.xml
lib/datawrapper/build/conf/datawrapper-conf.php
locale/messages.tsv
log.txt
node_modules
node_modules/*
plugins/*
!plugins/admin-jobs
!plugins/admin-users
!plugins/email-native
!plugins/visualization-column-charts
!plugins/visualization-data-table
!plugins/visualization-raphael-chart
!plugins/visualization
scripts/execute_jobs.lock
scripts/history.php
scripts/lib/execute_jobs.lock
templates/plugins/*
test/result/*
test/build.js
tmp/*
vendor/*
www/static/custom/*