.project
.DS_Store
*.sublime-workspace
*.sublime-project
lib/core/build/conf/datawrapper-conf.php
lib/datawrapper/build/conf/datawrapper-conf.php
charts/data/*
charts/images/*
charts/static/*
charts/exports/*
config.php
config.yaml
scripts/history.php
fabfile.py*
archive.tar
*.log
templates/plugins/*
www/static/vendor/d3js/d3.scale.js
www/static/custom/*
test/result/*
crowdin.yaml
log.txt
www/static/js/dw-2.0.min.js
vendor/*
node_modules/*
assets/vendor/*
scripts/lib/execute_jobs.lock

scripts/execute_jobs.lock
