.project
.DS_Store
*.sublime-workspace
*.sublime-project
lib/core/build/conf/datawrapper-conf.php
lib/core/runtime-conf.xml
lib/datawrapper/build/conf/datawrapper-conf.php
charts/data/*
charts/images/*
charts/static/*
charts/exports/*
config.php
config.yaml
scripts/history.php
fabfile.py*
archive.tar
*.log
templates/plugins/*
www/static/custom/*
test/result/*
crowdin.yaml
log.txt
vendor/*
node_modules/*
assets/vendor/*
scripts/lib/execute_jobs.lock
scripts/execute_jobs.lock
node_modules
*.bts
bower_components/
locale/messages.tsv
.python-version
exports/*
legacy/*
composer.phar
dw-translations.p12
.idea/*
lib/core/propel-gen
.env
.dgsstoken
