{% block 'helpmodal' %}
    <div class="modal hide" id="helpInterpretData">
        <<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h2>Help Datawrapper to read your data</h2>
        </div>
        <div class="modal-body">
            
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>
{% endblock %}