{# this is what guests see on publish step #}

{% if has_hook('publish_custom_page_guest') %}

	{{ hook('publish_custom_page_guest') }}

{% else %}

	<h1>Hello Guest</h1>

	<p>Congratulations for creating this chart</p>

	<p>If you want to publish this chart, you need to sign in</p>

{% endif %}
