<script type="text/javascript" src="/static/js/svelte/folder.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/svelte/folder.css">
<link rel="stylesheet" type="text/css" href="/static/css/svelte/controls.css">

<div id="svelte-move"></div>

<script type="text/javascript">
window.global = window;

require(['svelte/folder'], function(mod) {
	var app = new mod.App({
		target: document.querySelector('#svelte-move'),
		data: {{ state | json | raw }}
	});

	var btn = $('.action-move');

	btn.find('a').click(function(evt) {
		evt.preventDefault();
		evt.stopPropagation();
		var show = !app.get().show;
		location.hash = show ? '#move': '';
	});

	if (location.hash == '#move') {
		app.set({show:true});
		btn.addClass('active');
	}

	$(window).on('hashchange', function(evt) {
		if (location.hash == '#move') {
			app.set({show:true});
			btn.addClass('active');
		} else {
			app.set({show:false});
			btn.removeClass('active');
		}
	})

});
</script>
