{# this is what users see who are not activated yet #}

<div class="publish-form" id="step-2">
    <h2>{% trans "publish / pending-activation / h1" %}</h2>

    <p>{% trans "publish / pending-activation / p" %}</p>

    <div style="margin-top: 20px;">
        <div class="resend-activation">
            <button class="resend-activation-button btn btn-primary"><i class="fa fa-envelope"></i> &nbsp; {% trans "publish / pending-activation / resend" %}</button>
        </div>

        <p class="resend-activation-success hidden">
            {% trans "publish / pending-activation / resend-success" %}
        </p>

        <p class="resend-activation-error hidden">
            {% trans "publish / pending-activation / resend-error" %}
        </p>
    </div>
</div>

<script type="text/javascript">
    $('.resend-activation-button').click(function() {
        $('.resend-activation-button fa').removeClass("fa-envelope").addClass("fa-spinner fa-spin");

        $.ajax({
            url: '//' + dw.backend.__api_domain + '/v3/auth/resend-activation',
            type: 'POST',
            dataType: 'json',
            headers: {
                'Content-Type': 'application/json'
            },
            data: JSON.stringify({
                email: "{{ user.email }}"
            }),
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            context: this,
            success: function (data) {
                $('.resend-activation').addClass("hidden");
                $('.resend-activation-success').removeClass("hidden");
            },
            error: function(err) {
                $('.resend-activation').addClass("hidden");
                $('.resend-activation-error').removeClass("hidden");
            }
        });
    });
</script>