/*
 * le styles for datawrapper
 * just make sure to start every definition with .dw to
 * override bootstrap definitions
 */

body {
    background: #fff;
    color: #656565;
    margin-top: 60px;
}

/* teaser */
.teaser {
    height:330px;
    background: url(/static/img/teaser-1.png) -100px bottom;
    margin-bottom:40px;position:relative;
    background-size: 115%;
}

.big-login-home {
    display: none;
}


.teaser .login {
    font-size: 15px;
    margin: 10px 0 -10px;
    white-space: nowrap;
}

.teaser a.onblack {
    color: #5FCAFF;
}

.teaser .login input {
    width: 30%;
    padding: 6px;
}
.teaser .login .btn-large {
    padding: 6px 8px;
}

.teaser .login h3 {
    color: #fff;
    font-weight: normal;
    line-height: 40px;
    padding-right: 10px;
}

.teaser h2 {
    font-weight:300;
    color:#f9f9f9;
    background:rgba(0,0,0,.8);
    width:33%;
    position:absolute;
    left:0;
    bottom:0;
    font-size: 20px;
    line-height: 30px;
    margin:0;
    padding: 20px;
    margin: 0 0 30px 30px;
}

.navbar .btn-navbar {
    margin-top: 5px;
    padding: 10px;
    margin-top: 9px;
}


@media (max-width: 767px) {
    /* mobile display, no teaser image */
    .teaser {
        position: relative;
        height: auto;
        background: #eee;
    }
    .teaser h2 {
        font-size: 16px;
        line-height: 22px;
        margin: 0;
        width: auto;
        position: relative;
        background: none;
        color: #222;
    }

    .teaser .login {
        display: none;
    }

    .big-login-home {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    /* ipad display */
    .teaser {
        background: url(/static/img/teaser-1.png) 0 0;
        background-size: 100%;
        height: 230px;
    }
    .teaser h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .teaser .login {
        display: none;
    }

    .big-login-home {
        display: block;
    }

}

@media (max-width: 979px) {
    body .docs h1.title {
        font-size: 36px;
        margin-bottom: 10px;
    }

    body .docs h2 {
        font-size: 21px;
    }
}

@media (min-width: 1200px) {
    .teaser {
        background: url(/static/img/teaser-1.png) 0 0;
        height: 360px;
    }

    .teaser h2 {
        font-size: 24px;
        line-height: 36px;
    }

    .teaser .login {
        font-size: 18px;
    }

    .teaser .login input {
        width: 30%;
        padding: 9px;
    }

    .teaser .login .btn-large {
        padding: 9px 14px;
    }
}

/* intro */
.dw-intro .intro-head {
    background: url(../img/abzv-kopf.jpg) no-repeat;
    height: 240px;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    background-image: url(../img/bg-navbar.png);
    background-color: #eee;
    min-height: 51px;
}

.navbar .brand {
    padding-top: 14px;
    padding-bottom: 4px;
    color: #556;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .55);
    white-space: nowrap;
}

.navbar .brand img {
    float: left;
    margin-right: 7px;
    margin-left: 4px;
    position:relative;
    top:-4px;
}

.navbar .brand .beta {
    font-size:10px;
    font-weight:500;
    position:relative;
    top:-8px;
    left:3px;
    color:#999;
}


.navbar .nav > li > a {
    padding-top: 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45)
}

.navbar .nav > li > a:hover {
    color: #000;
}

body .navbar .nav .active > a,
body .navbar .nav .active > a:hover,
body .navbar .nav li.dropdown.active > .dropdown-toggle:hover
 {
    background: transparent;
    font-weight: bold;
    color: #444!important;
}

.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret,
.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret {
    border-bottom-color: #000;
    border-top-color: #000;
}

.dw .toplinks {

}

.half {
    width:50%;
    float:left;
}

.half select {
    width:90%;
}

.span4 .well .span4 {
    width: 90%;
}

.dw .create-nav > * {
    background: #f2f2f2;
    position: relative;
    box-shadow: 2px 2px 2px #e2e2e2 inset;
    border-radius: 10px 0 0 10px;
    text-align: left;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 2em;
}

.dw .create-nav .corner {
    background: url(../img/create-nav-bg.png) left center no-repeat;
    width: 25px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    box-shadow: none;
}

.dw .create-nav > div.active {
    background: #cc0000;
    box-shadow: none;
    font-weight: normal;
    color: #fff;
}

.dw .create-nav > div.unseen {
    color: #999;
}

.dw .create-nav > a:hover {
    text-decoration: none;
}

.dw .create-nav > a.passed {
    background: #ddd;
}

.dw .create-nav > * .step {
    font-weight: bold;
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    position: relative;
    top: 3px;
    margin-left: 18px;
    margin-right: 5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.17);
}

.dw-logo {
    font-weight: 500;
    color: #0063A5;
    letter-spacing: -1px;
}
.teaser .dw-logo {
    color: #fff;
}
.dw-logo .wrap {
    font-style: normal;
    color: #d8d8d8;
}
.dw-logo-type {
    font-size: 24px;
    line-height: 34px;
    margin-left: 0px;
}
.dw-logo-type a:hover, .dw-logo-type a:focus {
    color: #0063A5;
    text-decoration: none;
}

.dw .dw-logo-sub {
    margin-bottom: 40px;
    padding-left: 15px;
    font-size: 11px;
    color: #999;
}

.intro-head .dw-logo-type {
    margin-top: 1em;

}

/** dw-create-upload **/

.dw-create-upload textarea {
    width: 98%;
    height: 200px;
}

.dw-create-upload p {
    margin-bottom: 1.5em;
}

.dw-create-upload .btn {
    height: 32px;
    line-height: 32px;
}

.dw-create-upload .upload-form ul {
    margin: 0;
    padding: 0;
}

.dw-create-upload .upload-drop {
    background: #fff;
    text-align: center;
    font-size: 36px;
    color: #ddd;
    font-weight: 300;
}

h3 label.radio {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    margin-bottom: 1em;
}
.page-header h3 {
    margin-bottom: 0;
}
.well h3 {
    margin-bottom: 0.4em;
}

.fat-buttons .btn-large {
    width: 100%;
}

footer {
    border-top: 1px solid silver;
    margin: 2em 0;
    padding: 1em 0;
    font-size: 12px;
}

footer p {
    color: #555;
    max-width: 70%;
    margin-bottom: 0;
}

.footer-logo {
    text-align: right;
}

.dw .thumbnail > h5 {
    margin-top: 5px;
}

.dw-intro .about li {
    margin: 1ex 0 1ex;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #000;
}

.dw-create-publish h3 {
    margin-bottom: 1ex;
    margin-top: 1.5em;
}

#dwLoginForm {
    width: 670px;
    margin-left: -335px;
}

#dwLoginForm div.span3 {
    padding: 15px;
}

#dwLoginForm .close {
    position: absolute;
    right: 15px;
    top: 10px;
    float: none;
}

.input-xxlarge, .btn-xxlarge {
    font-size: 150%;
    height: 27px;
    line-height: 27px;
}

.login-form .input-large {
    width: 95%;
}

.mycharts h3 {
    margin-bottom: 0px;
}

.mycharts .thumbnail {
    border: 0;
    box-shadow: none;
    position: relative;
}

.mycharts .thumbnail img {
    margin: 0 0 5px 0;
    padding: 5px;
    border-radius: 0;
    background: #fff;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.24);
}

.mycharts .thumbnail .btn-group {
    position: absolute;
    top: 10px;
    right: 5px;
    visibility: hidden;
}

.mycharts .thumbnail:hover .btn-group {
    visibility: visible;
}

.mycharts .thumbnail h3 {
    font-size: 14px;
   bottom: -20px;
    height: 20px;
    line-height: 20px;
    left: 4px;
    width: 100%;
    padding: 0 5px;
}

.mycharts-filter li.active a {
    font-weight: bold;
    color: #335;
}

.mycharts-filter li.active a {

}

.mycharts-filter ul li {
    margin-bottom: 5px;
}

.mycharts-filter ul {
    margin-bottom: 30px;
}

.link-list li h3 {
    margin-bottom: 12px;
    line-height: 18px;
}

.link-list li h3 small {
    font-size: 13px;
}

.link-list li h3 i {
    margin-top: 4px;
}

.well-danger {
  background-color: #fee5e5;
  border: 1px solid #edd;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.form-actions {
    background: #F2F2F2 url(../img/bg-well.png);
    border-radius: 0 0 10px 10px;
}

.well-danger .form-actions {
    background: transparent;
}

.table { width: auto!important;}

.table-striped td { text-align: center;}
.table-striped th { text-align: center;}
.table-striped.vert-header tr th:first-child { text-align: right;}

.table tr th {
    font-weight: normal;
    background: none!important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table tr th span {
    padding: 3px 6px;
    border-radius: 4px;
}
.table.column-series thead tr th span, .table.row-series tbody tr th span {
    background-color: #0063A5;
    color: #fff;
}
.table.column-series tbody tr th span, .table.row-series thead tr th span {
    background-color: #999;
    color: #fff;
}
.table tbody tr td {
    background: none;
}
.table-striped.column-series tbody tr td:nth-child(2n+1) {
    background-color: #eee;
}
.table-striped.column-series.vert-header tbody tr td:nth-child(2n) {
    background: #eee;
}
.table-striped.column-series.vert-header tbody tr td:nth-child(2n+1) {
    background: none;
}

.table-striped.row-series tbody tr:nth-child(2n+1) td {
    background-color: #eee;
}
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
    background: none;
}
.table-striped tbody tr:nth-child(2n+1) th {
    background-color: #c0c0c0;
}
.table-striped tbody tr:hover td {
    background: none;
}
.table tbody tr th {
    background-color: #ccc;
}

.page-header h2 {
    margin-bottom: 0;
}

#csv-parse-options label {
    padding-right: 1em;
}

.skip-rows i {
    position: relative;
    top: 2px;
    cursor: pointer;
}

dl.dl-horizontal dt {
    width: 150px;
    text-align: left;
    padding-top: 17px;
}

dl.dl-horizontal dd {
    margin-left: 160px;
    padding-top: 17px;
}

@media (min-width: 768px) and (max-width: 979px) {

    .dw .dw-logo-type {
        font-size: 28px;
        line-height: 36px;
    }

    .dw .dw-logo-sub {
        font-size: 11px;
        padding-left: 5px;
        white-space: nowrap;
    }

    .dw .create-nav div {
        font-size: 14px;
        line-height: 42px;
        height: 42px;
    }
}

/*
 * visualization styles
 */

#iframe-wrapper {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 7px;
    resize: both;
    overflow: hidden;
    background: #fff;
    max-width: 98%;
}

#iframe-vis {
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.visualization [contenteditable=true]:hover:after {
  content: ' click to edit';
  font-style: italic;
  font-size: 12px;
  font-family: sans-serif;
  color: #ccc;
  .text-stroke(0);
}

.visualization [contenteditable]:hover,
.visualization [contenteditable]:focus {
    background: #fff;
    box-shadow:inset 0 0 3px #999;
}

.visualization [contenteditable]:hover {
    padding: 5px;
}

.visualization [contenteditable]:focus:after {
  content: '';
}

#vis-options fieldset legend {
    margin-bottom: 10px;
}

#vis-options .control-group {
    margin-bottom: 9px;
}

#vis-options legend + .control-group {
    margin-top: 0;
}

#vis-options .control-label {
    width: 45%;
}

#vis-options .controls {
    margin-left: 50%;
}

.highlighted-series li {
    margin-bottom: 3px;
    margin-right: 10px;
    float: left;
    display: inline;
}

.highlighted-series .badge {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
}

.highlighted-series .badge .icon-remove {
    position: relative;
    left: -4px;
    top: 1px;
}

.dw-create-visualize .collapse {

}

.collapse-hidden:before {
    content: "+ ";
}

.collapse-shown:after {
    content: "";
}

.docs h1.title {
    font-size: 48px;
    margin: 0px 0 48px;
    font-weight: 300;
    letter-spacing: -1px;
}

.docs h2, .docs h3 {
    font-weight: 500;
    font-size: 24px;
    margin: 1.5em 0 0.5em;
}

.docs .alert big {
    line-height: 1.3;
}

.error .big {
    font-size: 20px;
    line-height: 30px;
    color: #B94A48;
    margin-bottom: 1em;
}

ul.options {
    position: relative;
}

ul.options li {
    list-style: none;
    margin-bottom: 1em;
    position: relative;
}

ul.options li i:first-child {
    position: absolute;
    left: -20px;
    top: 2px;
}

.section {
    margin-bottom: 20px;
}

form.well form {
    margin: 0;
}

.well {
    background: url(../img/bg-well.png);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05) inset;
}

.mysettings .row h2 {
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.2em;
}
.mysettings .row .span3 > p {
    color: #999;
    font-style: italic;
}
.mysettings .row {
    margin-bottom: 30px;
}

.mysettings .row .span9 {
    padding-top: 10px;
}

.btn-primary.loading:after {
    content: url("../img/btn-loading.gif");
    float: right;
    left: 1px;
    margin-left: 5px;
    position: relative;
    top: 1px;
}

.well .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    background: url(../img/bg-well.png);
    border-left-color: #c0c0c0;
    border-right-color: #c0c0c0;
    border-top-color: #c0c0c0;
}

.well .nav-tabs,
.well .nav-tabs > li > a:hover {
    border-bottom-color: #c0c0c0;
}

.well .nav-tabs > li.active > a:hover {
    border-bottom-color: transparent;;
}

.well .nav-tabs > li > a:hover {
    background: #e8e8e8;
}

.form-horizontal.compact {
    margin-bottom: 20px;
}

.form-horizontal.compact .control-group {
    margin-bottom: 5px;
}

.icon-rotate {
    background: url(../img/icon-rotate.png) no-repeat;
    width: 16px;
}

.dw .modal-backdrop {
    background-color: #888;
    background-image: url(../img/modal-backdrop.png);
}

.dw .modal-header h1 {
    font-weight: normal;
}

.docs li {
    margin-bottom: 8px;
}

.demo-datasets p {
    margin: 5px 0 10px;
}