
/*
 * Ruhrnachrichten Theme
 * ---------------------
 *
 */

body.chart {
    font-family: arial,sans-serif;
    font-weight: 400;
    line-height: 15px;
    color: #333;
    font-size: 10px;
    background: #fff;
    overflow: visible;
    overflow-x: hidden;
    padding: 4px 5px 0;
    margin: 0;
}

h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
    line-height: 18px;
    text-align: left;
    color: #000;
}


p {
    font-size: 13px;
    margin: -8px 0;
    line-height: 19px;
}

#chart {
    margin-top: 25px;
}

.label span {
    font-size: 11px;
    color: #333;
}

.label.highlighted, .label.axis {
    font-size: 11px;
    z-index: 100;
}

.label.hover {
    font-weight: bold;
}

.label.inverted span {
    color: #fff;
}

.label.highlighted {
    font-weight: bold;
}

.label.value span {
    font-size: 11px;
}

.label.series span {
    font-size: 11px;
}


.tooltip {
    z-index: 200;
    padding-bottom: 0px;
}

.tooltip .content {
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    padding: 5px 8px;
}

.tooltip label {
    font-weight: 700;
}

.tooltip label:after {
    content: ": ";
}

#footer {
    margin: 20px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    clear: both;
    color: #777;
    font-size: 11px;
}

#footer a {
    color: #2b2b2a;
    text-decoration: underline;
}

.footer-left {
    float: left;
}
.footer-right {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

svg .axis, svg .tick, svg .grid, svg rect {
    shape-rendering: crispEdges;
}

@media screen and (max-width: 350px) {
    h1, #footer, p, .label {
        display: none;
        position: absolute;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }

    #chart {
        margin: 0;
    }

    body { margin:0; padding: 0;}
}

.label.rotate90 {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.label.smaller span {
    font-size: 80%;
}

#datatable {
    background: #F3F3F3;
}

#datatable thead tr {
    background: #D3D3D3;
    border-bottom: 0;
}

#datatable thead th {
    border-color: #D3D3D3;
}

#datatable tbody tr:hover {
    background: #dbdbdb;
}