
/*
 * Default Theme
 * -------------
 *
 */
@font-face {
    font-family: "TheSerifOffice";
    font-style: normal;
    font-weight: normal;
    src: url("http://s1.lemde.fr/medias/web/font/eot/TheSerifOffice-TT7_.eot?#iefix") format("embedded-opentype"), url("http://s1.lemde.fr/medias/web/font/woff/TheSerifOffice-TT7_.woff") format("woff");
}

body {
    font-family: arial,sans-serif;
    font-weight: 400;
    line-height: 15px;
    color: #16212c;
    font-size: 12px;
    background: red;
    overflow: visible;
    overflow-x:hidden;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
    line-height: 18px;
    text-align: left;
    padding: 5px 0 10px;
}


p { margin: 10px 0; line-height: 19px;}

body.chart {
    font-family: "arial",sans-serif;
}

.chart h1 {
    background-image: url("triangleArrow-Right.png");
    background-size: 0.5em auto;
    background-position: left 9px;
    background-repeat: no-repeat;
    padding-left: 16px;
    font-family: "TheSerifOffice", arial, sans-serif;
    font-weight: normal;
}

.label span {
    font-size: 10px;
    color: #16212c;
}

.label.highlighted, .label.axis {
    font-size: 11px;
    z-index: 100;
}

.label.hover {
    font-weight: bold;
}

.label.highlighted.reverse span {
    color: #fff;
}

.label.highlighted {
    font-weight: bold;
}

.label.value span {
    font-size: 11px;
}

.label.series span {
    font-size: 11px;
}


.tooltip {
    z-index: 200;
    padding-bottom: 0px;
}

.tooltip .content {
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    padding: 5px 8px;
}

.tooltip label {
    font-weight: 700;
}

.tooltip label:after {
    content: ": ";
}

#footer {
    clear: both;
    text-transform: uppercase;
    color: #2b2b2a;
    font-size: 10px;
    height:45px;
}

#footer a {
    color: #003366;
    text-decoration: underline;
}

#footer a:hover {
    color: #129af0;
}

.footer-left {
    float: left;
    position: relative;
    top: 27px;
}
.footer-right {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

svg .axis, svg .tick, svg .grid, svg rect {
    shape-rendering: crispEdges;
}

@media screen and (max-width: 400px) {
    h1, #footer, p, .label {
        display: none;
        position: absolute;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }

    #chart {
        margin: 0;
    }

    body.chart { margin:0; padding: 0;}
}

.label.rotate90 {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.label.smaller span {
    font-size: 80%;
}

#datatable {
    background: #F3F3F3;
}

#datatable thead tr {
    background: #D3D3D3;
    border-bottom: 0;
}

#datatable thead th {
    border-color: #D3D3D3;
}

#datatable tbody tr:hover {
    background: #dbdbdb;
}