
/*
 * ABZV Theme
 * ----------
 *
 */

body {
    font-family: Arial;
    margin:0;
    font-size: 12px;
    line-height: 18px;
    background: url(http://www.abzv.de/grafiken/hintergrund.jpg) -600px -50px;
}

h1 {
    font-size: 13px;
    font-weight: 700;
    color: #0063A5;
    margin: 10px;
}

p { margin: 10px;}

.label {
    font-size:12px;
}

#chart {
    margin-top: 25px;
    margin-bottom: 40px;
}

.footer {
    margin: 20px 20px 0;
    padding-top: 5px;
    border-top: 1px solid #bbb;
}