
svg .axis, svg .tick, svg .grid {
    shape-rendering: crispEdges;
}


.label span {
    font-size: 12px;
    color: #999;
    background-color: #fff;
}

.label.highlighted {
    z-index: 100;
}

.label.highlighted span, .label.axis span {
    font-size: 12px;
    color: #000;
    background-color: #fff;
}