{% extends "core.twig" %}

{% block content %}

<div class="mysettings">
    <div class="row">
        <div class="span3">
            <h2>{% trans "Reset Your Password" %}</h2>
            <p>You see this page because you requested to reset your password. Please choose yourself a new password</p>
        </div>
        <div class="span9">
            <div class="form-horizontal">
                <fieldset>
                    <div class="control-group success">
                        <label class="control-label" for="pwd">{% trans "Reset Code" %}</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="code" value="{{ token }}" disabled="disabled">
                            <p class="help-block"><i class="icon icon-ok"></i> This reset token is valid.</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="pwd">{% trans "Password" %}</label>
                        <div class="controls">
                            <input type="password" class="input-xlarge" id="pwd">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="pwd2">{% trans "Password (repeat)" %}</label>
                        <div class="controls">
                            <input type="password" class="input-xlarge" id="pwd2">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox"><input type="checkbox" id="show-passwords" /> Show password in clear text</label>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" id="renew-password">{% trans "Set New Password" %}</button>
                    </div>
                </fieldset>

            </div>

        </div>
    </div>
</div>
<script type="text/javascript">

$(function() {

    // change password
    $('#renew-password').click(function(e) {
        var submit = $(e.target),
            parent = $('.form-horizontal'),
            pwd = $.trim($('#pwd').val()),
            pwd2 = $.trim($('#pwd2').val());

        DW.clearAlerts();

        if (DW.checkPassword('...', pwd, pwd2) === true) {
            // at first we req
            submit.addClass('loading');

            $.getJSON('/api/auth/salt', function(res) {
                if (res.status == 'ok') {
                    var salt = res.data.salt, time = res.data.time,
                        hmac = CryptoJS.HmacSHA256,
                        payload = {
                            token: '{{ token }}',
                            time: time,
                            pwd: CryptoJS.HmacSHA256(pwd, salt).toString()
                        };

                    $('#pwd').val('');
                    $('#pwd2').val('');

                    $.ajax({
                        url: '/api/users/current',
                        type: 'PUT',
                        data: JSON.stringify(payload),
                        dataType: 'json',
                        success: function(data) {
                            submit.removeClass('loading');
                            if (data.status == 'ok') {
                                DW.logMessage('{% trans "Congrats! Your password has been changed." %}', parent);
                            } else {
                                DW.logError(data.message, parent);
                            }
                        }
                    });
                }
            });
        }
    });

    // show password in clear text
    $('#show-passwords').change(function() {
        var t = $('#show-passwords').attr('checked') ? 'text' : 'password';
        $('#pwd')[0].type = t;
        $('#pwd2')[0].type = t;
    });
});
</script>

{{ parent() }}
{% endblock %}