{% extends "core.twig" %}

{% block content %}

<div class="row">

    <div class="span6">
        <div class="form-horizontal">
            <fieldset>
                <legend>{% trans "Reset Your Password" %}</legend>

                <div class="control-group">
                    <label class="control-label" for="pwd">{% trans "Password" %}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="pwd">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="pwd2">{% trans "Password (repeat)" %}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="pwd2">
                        <p class="help-block">{% trans "Just leave the password fields blank if you don't want to change your password." %}</p>
                    </div>
                </div>

                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">{% trans "Set New Password" %}</button>
                    <button class="btn">{% trans "Undo changes" %}</button>
                </div>
            </fieldset>

        </div>

    </div>
    <div class="span6">
        <p>Please choose yourself a new password</p>

    </div>
</div>

{{ parent() }}
{% endblock %}