{% use "utils.twig" %}

{% extends "core.twig" %}
{% block content %}

<div class="admin">

    <h1 class="title">Admin &raquo; {{ title }}</h1>

    <div class="row">

        <div class="span2">
            <ul class="nav nav-stacked nav-tabs">
                {% for url, title in adminmenu %}
                <li{% if url == adminactive %} class="active" {% endif %}><a href="{{ url }}">{{ title | raw }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="span10">
            {{ block('adminpage') }}
        </div>
    </div>

</div>

{% endblock %}
