{% extends "core.twig" %}

{% block content %}

<div class="row create-nav">
    {% for step in steps %}
        <div class="span3{% if createstep == step.index %} active{% else %}{% if createstep > step.index %} passed{% endif %}{% endif %}">
            {% if createstep > step.index %}<a href="{{ step.id }}">{% endif %}
            {{ step.index }} {{ step.title }}
            {% if createstep > step.index %}</a>{% endif %}
            {% if createstep > step.index %} <i class="icon-ok"></i>{% endif %}
        </div>
    {% endfor %}
</div>

<script type="text/javascript">

(function($) {

    _.templateSettings = {
        interpolate : /\{\{(.+?)\}\}/g
    };

})(jQuery);


</script>
<script type="text/javascript">
    window.DW = {};

    DW.chart = new Datawrapper.Chart(JSON.parse('{{ chart|raw }}'));
</script>

{% endblock %}