{% extends "chart-editor.twig" %}

{% block content %}

{{ parent() }}

<script type="text/javascript">
$(function() {

    $('#csv-parse-options input').change(reload);

    DW.currentChart.sync('#has-horizontal-headers', 'metadata.data.horizontal-header');
    DW.currentChart.sync('#has-vertical-headers', 'metadata.data.vertical-header');
    DW.currentChart.sync('#transpose', 'metadata.data.transpose');
    DW.currentChart.sync('#describe-source-name', 'metadata.describe.source-name');
    DW.currentChart.sync('#describe-source-url', 'metadata.describe.source-url');

    function updateTable(dv) {

        function isNone(val) {
            return val === null || val === undefined || (_.isNumber(val) && isNaN(val));
        }

        var table = $('#data-preview'),
            horzHeaders = $('#has-horizontal-headers').attr('checked') == 'checked';
            vertHeaders = $('#has-vertical-headers').attr('checked') == 'checked';
        table.html('');  // empty table
        table.append('<thead><tr></tr><thead><tbody></tbody>');

        if (horzHeaders) {
            var thead = $('thead tr', table);
            dv.eachColumn(function(name) {
                thead.append('<th>'+(!isNone(name) ? name : '')+'</th>');
            });
        }

        var tbody = $('tbody', table);
        dv.each(function(row) {
            var tr = $('<tr></tr>');
            dv.eachColumn(function(col, o, i) {
                if (i == 0 && vertHeaders) {
                    tr.append('<th>'+(!isNone(row[col]) ? row[col] : '')+'</th>');
                } else {
                    tr.append('<td>'+(!isNone(row[col]) ? row[col] : '')+'</td>');
                }
            });
            tbody.append(tr);
        });
    }

    function reload() {
        var ds = new Miso.Dataset({
            url : '/chart/' + DW.currentChart.get('id') + '/data',
            delimiter : "auto",
            transpose: $('#transpose').attr('checked') == 'checked',
            firstRowIsHeader: $('#has-horizontal-headers').attr('checked') == 'checked'
        }).fetch({
            success: function() {
                DW.dataView = this;
                updateTable(this);
            }

        });
    }

    reload();

    $('#describe-proceed').click(function(e) {
        DW.currentChart.save();
    });

});

</script>

<div class="dw-create-describe">

    <div class="row">

        <div class="span8">
            <div class="page-header">
                <h2>Check your data</h2>
            </div>

            {% use 'help-interpret-data.twig' %}
            {{ block('helpmodal') }}

            <p>Please check if the data format was recognized correctly. If not, please <a data-target="#helpInterpretData" href="#" data-toggle="modal">help Datawrapper to understand your data</a>.</p>


            <form class="form-inline well">
                <div id="csv-parse-options" class="row">
                    <div class="span4">
                        <p>A data series is a list of numbers that represents multiple measurements of the same variable, for instance over time.</p>
                    </div>
                    <div class="span3">
                        <p>A data series is a list of numbers belonging to the same.</p>
                    </div>
                    
                    <div class="span2">
                        <label class="radio"><input type="radio" name="series-type" /> Data series in rows</label><br />
                    </div>
                    <div class="span2">
                        <label class="radio"><input type="radio" name="series-type" /> Data series in columns</label>
                    </div>
                    <div class="span2">
                        <label class="checkbox"><input id="has-horizontal-headers" type="checkbox" checked="checked"> First row as label</label><br >
                        <label class="checkbox"><input id="has-vertical-headers" type="checkbox"> First column as label</label>
                    <!--<label class="checkbox"><input type="checkbox" id="transpose"> Transpose data</label>-->
                    <!--<label class="checkbox skip-rows"><i class="icon-plus-sign"></i> <i class="icon-minus-sign"></i> Skip 0 rows </label> -->
                    </div>
                    
                </div>
            </form>
            
            <div style="overflow-x:scroll; overflow-y: visible; width:100%">
                <table id="data-preview" class="table table-striped">
                </table>
            </div>
        </div>

        <div class="span4">
            <div class="page-header">
                <h2>Describe your data</h2>
            </div>
            <h3>Credit the source</h3>
            <p>
                <label>Who published the data in the first place?</label>
                <input id="describe-source-name" type="text" placeholder="name of the organisation">
            </p>
            <p>
                <label>If possible, please provide a link the source data</label>
                <input id="describe-source-url" type="text" placeholder="http://">
            </p>
            <h3>Annotate data</h3>
            <p>To make the data more useful for your readers you can add details to individual data points or an entire series. This information will be displayed in the visualisations. <a href="#">Learn more..</a></p>
            <button class="btn"><i class="icon-th-list"></i> Annotate series</button> <button class="btn"><i class="icon-th"></i> Annotate data point</button>
        </div>
    </div>

    <div class="row">
        <div class="span12">

            <div class="form-actions">
                <a href="visualize" class="pull-right btn btn-primary" id="describe-proceed">Proceed <i class="icon-chevron-right icon-white"></i></a>
                <a class="btn" href="upload"><i class="icon-chevron-left"></i> Back</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}