{% extends "chart-editor.twig" %}
{% block content %}

{{ parent() }}


<script type="text/javascript">
$(function() {

    $('.status li').hide();
    var bar = $('.progress .bar'), current = $('.current');

    function publish_remote(cb) {
        $.ajax({
            url: '/api/charts/{{ chart.id }}/publish',
            type: 'post',
            dataType: 'json',
            success: function(res) {
                if (res.status == "ok") {
                    cb();
                } else {
                    console.warn(res);
                }
            }
        });
    }

    publish_remote(function() {
        location.href = 'publish';
    });


    /*setTimeout(function() {

        snapshot(1200,600);
    },4000);*/
});

</script>
<style type="text/css">

h2 {
    margin-bottom: 20px;
}

.current {
    padding: 0px 10px 10px 35px;
    font-weight: bold;
}

.current.active {
    background: url(/static/img/ajax-loader.gif) 10px 0px no-repeat;
}

#thumbs img {
    border: 1px solid #ccc;
    margin: 10px;
    vertical-align: top;
}

.status li {
    margin-bottom: 5px;
    font-style: italic;
    margin-left: 35px;
    color: #aaa;
}

</style>

<div class="dw-create-publish">
    <div class="row">
        <div class="span6">

            {% if user.isAbleToPublish %}

            <h2>{% trans "Publishing chart..." %}</h2>

            <p>{% trans "Please hold on a second while your chart is being published. Try not to close this page.." %}</p>

            <div class="progress progress-striped active">
                <div class="bar" style="width: 5%;"></div>
            </div>

            <div class="current active" data-finished="{% trans "Finished." %}" >

            </div>

            <ul class="status unstyled">
                <li data-current="{% trans "Generating static HTML page" %}" class="p1">
                    {% trans "Generated static HTML page" %}
                </li>
                <li data-current="{% trans "Packing and crunching JavaScript" %}" class="p2">
                    {% trans "Packed and minified JavaScript" %}
                </li>
                <li data-current="{% trans "Packing and crunching stylesheets" %}" class="p3">
                    {% trans "Packed and minified stylesheets" %}
                </li>
                <li data-current="{% trans "Publishing chart data" %}" class="p4">
                    {% trans "Published chart data" %}
                </li>
                <li data-current="{% trans "Generating chart thumbnails" %}" class="p5">
                    {% trans "Generated Thumbnails" %}
                </li>
            </ul>
            {% endif %}
        </div>
        <div id="thumbs" class="span6">
            
        </div>
    </div>


</div>


{% endblock %}