{% extends "chart-editor.twig" %}
{% block content %}

{{ parent() }}


<script type="text/javascript">
$(function() {

    function publish_remote(cb) {
        $.ajax({
            url: '/api/charts/{{ chart.id }}/publish',
            type: 'post',
            dataType: 'json',
            success: function(res) {
                if (res.status == "ok") {
                    cb();
                } else {
                    console.warn(res);
                }
            }
        });
    }

    publish_remote(function() {
        location.href = 'publish';
    });

    $('h2').animate({ opacity:  1 }, 1000);
    $('p').animate({ opacity:  1 }, 2000);

});

</script>
<style type="text/css">

.dw-create-publish h2 {
    margin: 0px 100px 30px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: #444;
    text-shadow: 2px 2px 0 #eee;
    opacity: 0;
}

.dw-create-publish p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    margin: 20px 15% 40px;
    text-align: center;
    opacity: 0;
}


.current.active {
    background: url(/static/img/ajax-loader.gif) 10px 0px no-repeat;
}

</style>

<div class="dw-create-publish">

    {% if user.isAbleToPublish %}

    <div style="text-align:center">
        <img src="/static/img/publishing-action.gif" alt="" />
    </div>
    <h2>{% trans "Publishing chart" %}</h2>

    <p>{% trans "Please hold on a few seconds while we're making your chart ready for the world." %} <br/>
        {% trans "You are automatically redirected once this is finished." %}
    </p>

    {% endif %}

</div>


{% endblock %}