
{% extends "docs.twig" %}
{% block docscontent %}


<p>Datawrapper was created by Mirko Lorenz, Nicolas Kayser-Bril, and Gregor Aisch.</p>
<p>Development steps: Started in July 2011, first beta in February 2012, version 1.0 in July 2012.</p>


{% endblock %}

