
{% extends "docs.twig" %}
{% block docscontent %}


<p>Datawrapper was created by <a href="http://www.mirkolorenz.com/">Mirko Lorenz</a>, <a href="http://nkb.fr">Nicolas Kayser-Bril</a>, and <a href="http://driven-by-data.net">Gregor Aisch</a>.</p>
<p>Development steps: Started in July 2011, first beta in February 2012, version 1.0 in July 2012.</p>


{% endblock %}

