{% extends "docs.twig" %}
{% block docscontent %}


<h3>What is a data series?</h3>

<p></p>

<h3>Identifing headers</h3>

<p>Check this if the first row of your data table contain the names of the data columns. If not set, Datawrapper will auto-generate header names and will try not to use them in the charts. In general, it is a good advice to provide column names.</p>


{% endblock %}

