{% extends "docs.twig" %}
{% block docscontent %}


<h2>Using Datawrapper is simple</h2>
        
        <ol>
            <li><!-- 1 -->
                Search for a data set - can be an Excel chart, a Google Table or even a table in any web page. Make sure that the data has no copyright restrictions for further use.           </li>
            <li><!-- 2 -->
                Copy the table          </li>
            <li><!-- 3 -->
                Go to Datawrapper and drop the content into the first screen            </li>
            <li><!-- 4 -->
                Click next and check your data.         </li>
            <li><!-- 5 -->
                Click next and you see the options for visualization            </li>
            <li><!-- 6 -->
                Still on this screen you have options to add a description, a link to the source, etc.          </li>
            <li><!-- 7 -->
                Click next, check the visualization, copy the embed code and off you go.            </li>
        </ol>
        <p>
            Datawrapper has some other interesting functions, which you can experience <a href="#tutorial" class="fancybox">in our tutorial</a>.        </p>

{% endblock %}

