{% extends "docs.twig" %}
{% block docscontent %}

<h2>How to get good charts out of Datawrapper</h2>

    <div id="1" class="tutorial_class" style="display: block;">
        <p>Yes, no one reads the manual, but this one is really short. Here we show you how to get the most out of Datawrapper - what data to look for and how to format it to get a correct, good looking chart. Our tool can help you, but if you feed it the wrong data it will fail.</p>
        
        <h2>1. Why only five types of charts?</h2>

        <p>We had to start somewhere and we had to stop somewhere. In the future we would like to add more chart types, to this end we are looking for developers/designers. Contact us at <a href="mailto:info@datastory.de">info@datastory.de</a></p>
        
    </div>

    <div id="2" class="tutorial_class">

        <h2>2. Line chart</h2>
        
        <p>This is easy. You can visualize one or multiple lines. In order to graph them properly here is the best way to prepare your table or spreadsheet.</p>
        
        <p>Your data for a single line should like this:</p>
            <p><img src="/static/img/tutorial/line.png"></p>

        <p><a target="_blank" href="https://docs.google.com/spreadsheet/ccc?key=0Ainrk2-JqCiydGpUbkxFM1VObDM4cjZmQ3FjeTQ5OVE&amp;hl=en_US#gid=0">Sample data for a single line chart.</a></p>
    </div>
    <div id="3" class="tutorial_class">

        <h2>3. Bar chart</h2>
        
        <p>If you have data describing a certain value say month by month or if you want to compare the revenue of company A with the revenue from company B, a bar chart is the way to go.</p>

        <p>Your data for a bar chart should like this:</p>
            <p><img src="/static/img/tutorial/bar.png"></p>

        <p><a target="_blank" href="https://docs.google.com/spreadsheet/ccc?key=0Ainrk2-JqCiydEliVjQ1QjhCQWJZVEpEU0EtejE4ZGc&amp;hl=en_US#gid=0">Sample dataset for a bar chart.</a></p>
    </div>
    <div id="4" class="tutorial_class">

        <h2>4. Pie chart</h2>
        
        <p>Careful, pie charts can be misused and then they distort the message. Use a pie chart if you have data that can be compared proportionally - say, to show how after an election 100 per cent of the vote are spread to the various political parties.</p> 

        <p>Do not use a pie chart if there are to many labels. Often a bar chart is better than a pie chart to show the relation and trend.<a target="_blank" href="http://en.wikipedia.org/wiki/Pie_chart"> Read more about pie charts.</a></p>

        <p>By the way: In a correct pie chart the biggest pie should start at twelve o'clock. And just forget about the shadows and 3D effects of desktop programs. This will get you into a shitstorm.</p>

        <p>Your data for a pie chart should like this:</p>

        <p><img src="/static/img/tutorial/pie.png"></p>

        <p><a target="_blank" href="https://docs.google.com/spreadsheet/ccc?key=0Ainrk2-JqCiydEliVjQ1QjhCQWJZVEpEU0EtejE4ZGc&amp;hl=en_US#gid=0">Sample dataset for a bar chart.</a></p>
    </div>
    <div id="5" class="tutorial_class">

        <h2>5. Streamgraph</h2>
        
        <p>This is our fancy graph. You can use this form to show the pattern of a lot of data over long periods of time. Some people love these, some hate them (because what the chart really says is sometimes a mystery).<a href="http://www.leebyron.com/else/streamgraph/"> Here is a long paper for all of you who want to learn more.</a></p>

        <p>A streamgraph will effectively draw lines and fill the space between these. This is good to display how music preferences have changed over time or how certain topics have been cited more or less often.</p>

        <p>Your data for a streamgraph should like this:</p>
            <p><img src="/static/img/tutorial/streamgraph.png"></p>

        <p><a target="_blank" href="https://docs.google.com/spreadsheet/ccc?key=0Aj910EQuus3bdHZVdEhtNVhsMDhFdVNiMDlOVG5BZ3c">Sample dataset for a streamgraph.</a></p>
        <p>If you have better examples, better datasets or just want to vent off, contact us via <a href="mailto:info@datastory.de">info@datastory.de</a></p>

    </div>

{% endblock %}

