{% extends "docs.twig" %}
{% block docscontent %}

    <h2>What is Datawrapper?</h2>

    <p class="well">In short: This is a little tool for journalists. It reduces the time to create and embed a simple chart from hours to seconds.</p>

    <h2>Motivation</h2>
    There are many uses of data in journalism. The first step though is to use data more and often as a basis for reporting. Doing this has become easier, because of the large amounts of data becoming available, thanks to the OpenData movement and other initiatives.<p></p>

    <p>But there are bottlenecks.</p>

    <p>One is that creating even a simple visual chart and embedding it into a story is still too complex and time consuming. Yes, there are extensive other offerings, like IBM ManyEyes or the growing Google Chart API. They are great. But they have downsides, if used by journalists. For example you often have to store your trials data in public, can't get it out again. Plus, control over the look and feel of your charts is limited or complex to change if you are not a coder.</p>

    <h2>Create simple, embeddable charts in seconds, not hours</h2>
    <p>This is what Datawrapper does: This little tool reduces the time needed to create a correct chart and embed it into any CMS from hours to seconds.</p>

    <p>Furthermore, Datawrapper is not a honey-trap. The data you work with or store is yours and yours alone. Trials are not openly published.</p> 

    <p>On top of that, we encourage news organizations to fork Datawrapper via Github and install it on one of your own servers.</p>
    <p>The CSS is accessible, meaning that in one day you can make sure that the charts generated with Datawrapper have your logo, your visual styles and colours.</p> 

    <p>A short tutorial on <a href="#tutorial" class="fancybox">how to use Datawrapper is here</a>.</p>

    <h2>Background</h2>

    <p>Datawrapper was developed for ABZV, a journalism training organization affiliated to BDVZ (German Association of Newspaper Publishers). It is part of our efforts to develop a comprehensive curriculum for data-driven journalism.</p>

    <h2>Features</h2>

    <p>Use of this tool is free.</p>

    <p>Datawrapper 0.1 is a non-commercial, open source software, licensed under the MIT License.</p>

    <p>Datawrapper uses HTML5 Javascript libraries, namely Highcharts and D3.js, with more to come.</p>

    <p>Datawrapper can be forked on GitHub and installed on your own server.</p>
{% endblock %}

