{% extends "core.twig" %}

{% block content %}

    <div class="row">

        <div class="span8">
            <div class="page-header">
                <h2>{{ title }}</h2>
            </div>
            <p>{{ message|raw }}</p>

            <h3>What should I do now?</h3>

            <p>Create a new chart or look in your charts</p>

        </div>
    </div>

{% endblock %}