{% block header %}

    <div class="row topnav">
        <div class="span2 dw-logo-type">datawrapper.de</div>
        <div class="span10 toplinks">

            <div class="pull-right"><ul class="nav nav-pills dw-header-nav">

                {% for link in headlinks %}
                <li class="{{ link.id }}{% if link.active %} active{% endif %}{% if link.dropdown %} dropdown{% endif %}">
                    <a href="{{ link.url }}" {% if link.dropdown %} class="dropdown-toggle" data-toggle="dropdown" {% endif %}><i class="icon-{{ link.icon }}{% if link.active %} icon-white{% endif %}"></i> {{ link.title }}{% if link.dropdown %}<b class="caret"></b>{% endif %}</a>
                    {% if link.dropdown %}<ul class="dropdown-menu"><li><a href="#">hj</a></li></ul>{% endif %}
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>


{% endblock %}