{% block helpmodal %}
    <div class="modal hide" id="helpInterpretData">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h2>{% trans "Help Datawrapper to Read your Data" %}</h2>
        </div>
        <div class="modal-body">
            <p>
            </p>
            <dl class="dl-horizontal">
            {% trans %}
                <dt>Horizontal Headers</dt>
                <dd>Check this if the first row of your data table contain the names of the data columns. If not set, Datawrapper will auto-generate column names and will try not to use them in the charts. In general, it is a good advice to provide column names.</dd>
                <dt>Vertical Headers</dt>
                <dd>...</dd>
                <dt>Transpose Data</dt>
                <dd>...</dd>
            {% endtrans %}
            </dl>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>
{% endblock %}