{% extends "core.twig" %}
{% use "utils.twig" %}


{% block content %}

<div class="row">
    {% if alert %}
        <div class="alert alert-{{ alert.type }}">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <div>{{ alert.message }}</div>
        </div>
    {% endif %}

    <div class="span12 teaser" style="">
        <div class="teaser-h2">
            <h2><b class='dw-logo'>Datawrapper</b> {% trans "An open source tool helping everyone to create simple, correct and embeddable charts in minutes." %}</h2>

            {% if not user.isLoggedIn %}

                <div class="login">
                    <a href="#login" class="btn btn-primary btn-login btn-large">
                        <i class="icon-user icon-white"></i> {% trans "Login / Sign Up" %}
                    </a>
                    <a href="/chart/create" class="btn btn-login btn-large">
                        <i class="icon-pencil"></i> {% trans "Try it now!" %}
                    </a>

                </div>
            {% else %}
                <div style="margin-top:10px">
                    <a href="/chart/create" class="btn-primary btn btn-large"><i class="icon-pencil icon-white"></i> {% trans "Create a Chart" %}</a>
                    <a href="/mycharts" class="btn btn-large"><i class="icon-signal"></i> {% trans "My Charts" %}</a>
                </div>
            {% endif %}
        </div>

    </div>
    <div class="teaser-mobile big-head">
            <h1 style="font-weight:700">Datawrapper</h1>
            <p>{% trans "An open source tool helping everyone to create simple, correct and embeddable charts in minutes." %}</p>

            <div style="text-align:center; margin: 20px 0 40px">
            {% if not user.isLoggedIn %}

                    <a href="#login" class="btn btn-primary btn-login btn-large">
                        <i class="icon-user icon-white"></i> {% trans "Login / Sign Up" %}
                    </a>
                    <a href="/chart/create" class="btn btn-login btn-large">
                        <i class="icon-pencil"></i> {% trans "Try it now!" %}
                    </a>

            {% else %}
                    <a href="/chart/create" class="btn-primary btn btn-large"><i class="icon-pencil icon-white"></i> {% trans "Create a Chart" %}</a>
                    <a href="/mycharts" class="btn btn-large"><i class="icon-signal"></i> {% trans "My Charts" %}</a>
            {% endif %}
         </div>
     </div>
</div>

<div class="row arguments">
    <div class="span4">
        <h2>{% trans "Easy to use" %}</h2>
        <p>{% trans "This little tool reduces the time needed to create a correct chart and embed it into any website from hours to seconds. It makes charting easy, and helps you avoiding common pitfalls." %}</p>
    </div>
    <div class="span4">
        <h2>{% trans "Full control" %}</h2>
        <p>{% trans "Datawrapper is 100&#37; free software. You can use our free hosted service, or <a href='/docs/howtouse#server'>install it on your own server</a> for maximum control. Written in PHP, Datawrapper is easy to install, modify and extend." %}</p>
    </div>
    <div class="span4">
        <h2>{% trans "White-label charts" %}</h2>
        <p>{% trans "We encourage you to <a href='/docs/howtouse#customize'>customize the charts layout</a>, fonts and colors to make them integrate nicely in your website. Strengthen your own brand, not ours." %}</p>
    </div>
</div>

<div class="gallery">
    <div class="big-head">
        <h1>{% trans "Created with Datawrapper" %}.</h1>
        <p>{% trans "Need some inspiration? See what others have created <a href='/gallery/'>in our gallery</a>." %}</p>
    </div>
    <ul class="thumbnails">
        {% for chart in recent_charts %}
            {{ block('gallerythumb') }}
        {% endfor %}
    </ul>
</div>

<div class="row docs">
    <div class="big-head">
        <h1>{% trans "Want to learn more?" %}</h1>
    </div>

    <div class="span3">
        <h3><i class="icon-quickstart"></i> <a href="/docs/quickstart">{% trans "Quick Start" %}</a></h3>
        <p>{% trans "A concise introduction into the functions of Datawrapper." %}</p>
    </div>
    <div class="span3">
        <h3><i class="icon-help"></i> <a href="/docs/tutorial">{% trans "Step by step" %}</a></h3>
        <p>{% trans "This tutorial guides you through the entire charting process, from finding data to embedding your chart." %}</p>
    </div>
    <div class="span3">
        <h3><i class="icon-info"></i> <a href="/docs/motivation">{% trans "Motivation" %}</a></h3>
        <p>{% trans "Learn more about <a href='/docs/motivation'>why we created Datawrapper</a>, and why we chosed this approach." %}</p>
    </div>

    <div class="span3">
        <h3><i class="icon-github"></i> <a href="https://github.com/datawrapper/datawrapper">{% trans "Find it on Github" %}</a></h3>
        <p>{% trans "You can find and fork the Datawrapper source code on Github. It is licensed under the MIT license." %}</p>
    </div>


</div>

<div class="alert alert" style="text-align:center;margin-top:30px">
    {% trans "Looking for the old beta version of Datawrapper? It's still available at <a href='http://beta.datawrapper.de'>beta.datawrapper.de</a>" %}
</div>


{{ parent() }}
{% endblock %}