{% extends "core.twig" %}

{% block content %}

<div class="row">
    <div clasS="span4">
        <h2 style="font-weight:100;">
            <b class="dw-logo">Datawrapper</b> is an open source tool helping everyone to create simple, correct and embeddable charts in minutes.</h2>
                <p>We are bridging the gap between journalists and the newest Javascript-visualization libraries such as D3.js, Raphael and others. We make it easier to "wrap" the data into these libraries without coding. Datawrapper minimizes the time needed to create a chart and thus helps data journalists everywhere in the world. </p>

    </div>
    <div class="span4">
        <img src="/static/img/chart.png" alt="" style="margin-bottom:30px;"/>

        <h3>Main features:</h3>
        <ul>
            <ul>
                <li>Simple: Create and embed charts in minutes</li>
                <li>Open Source: Download and install</li>
                <li>CSS: Change the CSS, add your logo</li>
                <li>Developers: Add new chart types</li>
                <li>Non-proﬁt: This is and will stay free to use</li>
            </ul>
        </ul>

        <p><a href="/docs/motivation">Why this approach? See our Motivations</a></p>
    </div>
    <div class="span4" id="home-login">

        {% use 'home-login.twig' %}
        {{ block('homelogin') }}

    </div>
</div>

{{ parent() }}
{% endblock %}