{% extends "core.twig" %}

{% block content %}

<div class="row">
    {% if alert %}
        <div class="alert alert-{{ alert.type }}">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <div>{{ alert.message }}</div>
        </div>
    {% endif %}

    <div style="position:relative">
        <div id="disclaimer" class="alert alert-warning span6 offset3" style="position:absolute;top:80px;left:0px;z-index:1000;font-size:14px;line-height:22px">
            <div><b style="color:#900">Please note</b> that this is the <u>development version</u> of Datawrapper. Things might substantially change before we're ready launch. This might affect the charts that have been created so far. So, if you want to use the new Datawrapper in your newsroom, please wait (a tiny bit more) until we launch the stable version..<br/><i>Thanks, The Datawrapper team</i></div>
        </div>
        
    </div>

    <div class="span12 teaser" style="">
        <h2>
            {% trans "<b class='dw-logo'>Datawrapper</b> is an open source tool helping everyone to create simple, correct and embeddable charts in minutes." %}

            {% if not user.isLoggedIn %}
                <div class="login">
                    <div class="login-form form-inline">
                       
                        <input class="login-email" type="text" value="" placeholder="{% trans "email" %}" />
                        <input class="login-pwd" type="password" value="" placeholder="{% trans "password" %}" />
                        <a class="btn btn-primary btn-login btn-large"><i class="icon-user icon-white"></i> {% trans "Login" %}</a><br />
                        <div style="text-align:right">{% trans "or" %} <a href="#signup" class="onblack"> {% trans "sign up" %}</a> {% trans "now, for free" %}</div>
                    </div>
                </div>
            {% else %}
                <div style="margin-top:10px">
                    <a href="/chart/create" class="btn-primary btn btn-large"><i class="icon-pencil icon-white"></i> {% trans "Create a Chart" %}</a>
                    <a href="/mycharts" class="btn btn-large"><i class="icon-signal"></i> {% trans "My Charts" %}</a>
                </div>
            {% endif %}
        </h2>

    </div>
</div>

<div class="row">
    <div class="span4">
        

            <p>{% trans "We are bridging the gap between journalists and the newest Javascript-visualization libraries such as D3.js, Raphael and others. We make it easier to \"wrap\" the data into these libraries without coding. Datawrapper minimizes the time needed to create a chart and thus helps data journalists everywhere in the world." %}</p>

    </div>
    <div class="span4">
        <!-- <h3>{% trans "Main features:" %}</h3> -->

        <ul>
            <li>{% trans "Simple: Create and embed charts in minutes" %}</li>
            <li>{% trans "Open Source: Download and install" %}</li>
            <li>{% trans "CSS: Change the CSS, add your logo" %}</li>
            <li>{% trans "Developers: Add new chart types" %}</li>
            <li>{% trans "Non-profit: This is and will stay free to use" %}</li>
        </ul>

        <p><a href="/docs/motivation">{% trans "Why this approach? See our Motivations..." %}</a></p>
    </div>
    <div class="span4" id="home-login">

        {% use 'home-login.twig' %}
        {{ block('homelogin') }}

    </div>
</div>

{{ parent() }}
{% endblock %}