{% extends "core.twig" %}

{% block content %}

<div class="row">
    <div clasS="span4">
        <h2 style="font-weight:100;">
<b class="dw-logo">Datawrapper</b> is an open source tool helping everyone to create simple, correct and embeddable charts in minutes.</h2>
                <p>We are bridging the gap between journalists and the newest Javascript-visualization libraries such as D3.js, Raphael and others. We make it easier to "wrap" the data into these libraries without coding. Datawrapper minimizes the time needed to create a chart and thus helps data journalists everywhere in the world. </p>

    </div>
    <div class="span4">
        <img src="/static/img/chart.png" alt="" style="margin-bottom:30px;"/>

        <h3>The benefits in short:</h3>
        <ul>
            <li>Simple to use, open source, CSS access, no logo.</li>
            <li>Users can test the online version, organizations can download to their own server for data security, full control and CMS integration.</li>
        </ul>

        <p>Learn more about Datawrapper on datastories.de</p>
    </div>
    <div class="span4" id="home-login">

        {% use 'home-login.twig' %}
        {{ block('homelogin') }}

    </div>
</div>

{{ parent() }}
{% endblock %}