{% block homelogin %}

        {% if not user.isLoggedIn %}
            <div style="text-align:center; margin-bottom: 20px;">
                <a class="btn btn-large" href="/chart/create"><i class="icon-chevron-right"></i> <big>{% trans "Try Datawrapper now!" %}</big></a>
            </div>
            <div><p style="text-align:center">{% trans "Looking for the old beta version of Datawrapper?<br />It's still available at <a href='http://beta.datawrapper.de'>beta.datawrapper.de</a>" %}</p></div>

        {% else %}
            <div class="well">
                <h3>{% trans "Welcome back!" %}</h3>
                <ul class="unstyled link-list">
                    <li><h3><a href="/chart/create"><i class="icon-pencil"></i> {% trans "Create New Chart" %}</a><br /><small>{% trans "Wrap again!" %}</small></h3></li>
                    {% if user.hasCharts %}
                        <li><h3><a href="/mycharts"><i class="icon-signal"></i> {% trans "My Charts" %}</a><br /><small>{% trans "See what you created so far." %}</small></h3></li>
                    {% endif %}
                    <li><h3><a href="/account/settings"><i class="icon-wrench"></i> {% trans "Settings" %}</a><br /><small>{% trans "Edit your personal information." %}</small></h3></li>
                    <li><h3><a href="#logout"><i class="icon-off"></i> {% trans "Logout" %}</a></h3></li>
                </ul>
            </div>

            <p></p>
        {% endif %}

{% endblock %}
