{% extends "core.twig" %}

{% block content %}

<div class="row">
    <div clasS="span4">
        <div class="hero-unit" style="padding:30px">
            <h2 style="font-weight:100"><b class="dw-logo">Datawrapper</b> is an open source tool helping everyone to create simple, correct and embeddable charts in minutes.</h2>
        </div>

        </div>
    <div clasS="span4">
        <img src="/static/img/chart.png" alt="" style="margin-bottom:20px"/>
        <p>We are bridging the gap between journalists and the newest Javascript-visualization libraries such as D3.js, Raphael and others. We make it easier to "wrap" the data into these libraries without coding. Datawrapper minimizes the time needed to create a chart and thus helps data journalists everywhere in the world. </p>

        <p>Learn more about Datawrapper on datastories.de</p>
    </div>
    <div class="span4">
        <ul class="unstyled">
            <li style="padding-bottom:10px"><a href="#login" class="btn btn-primary btn-large">Sign Up / Log In</a></li>
            <li><a href="/chart/create" class="btn btn-lage">Try Datawrapper now!</a></li>
        </ul>
    </div>
</div>

{{ parent() }}
{% endblock %}