{% block login %}
    <div class="modal hide" id="dwLoginForm">
        {{ svelte('signin', { noSignUp: noSignup }) }}
    </div>

        <script type="text/javascript">
        $(function() {
            //$('a').click(console.log);
            $('#forgot-password').click(function(e) {
                e.preventDefault();
                var form = $(e.target).parents('.modal');
                $('.login-pwd', form).hide();
                $('.btn-login', form).hide();
                $('label[for=keep-login]', form).hide();
                $('#forgot-password', form).hide();
                $('.btn-send-pw', form).fadeIn();
                $('#send-pw-cancel', form).fadeIn();
            });

            $('#send-pw-cancel').click(function(e) {
                e.preventDefault();
                var form = $(e.target).parents('.modal');
                $('.login-pwd', form).fadeIn();
                $('.btn-login', form).fadeIn();
                $('label[for=keep-login]', form).fadeIn();
                $('#forgot-password', form).fadeIn();
                $('.btn-send-pw', form).hide();
                $('#send-pw-cancel', form).hide();
            });

            $('.btn-send-pw').click(function(e) {
                if ($('.login-email').val().trim() == '') {
                    $('.login-email').parent().addClass('error');
                    return false;
                }
                $('.login-email').parent().removeClass('error');
                $.ajax({
                    url: '/api/account/reset-password',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify({
                        email: $('.login-email').val()
                    }),
                    success: function(res) {
                        if (res.status == 'ok') {
                            dw.backend.logMessage(res.data, $(e.target).parent());
                        } else {
                            if (res.code == 'login-email-unknown') {
                                $('.login-email').parent().addClass('error');
                            }
                            dw.backend.logError(res.message, $(e.target).parent());
                        }
                    }
                });
            });
        });
        </script>

{% endblock %}
