{% block login %}

    <div class="modal hide" id="dwLoginForm">
        <!--<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h2>&nbsp;</h2>
        </div>-->
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <div class="row">
                <div class="span{% if noSignup %}4{% else %}3{% endif %} row-login">

                    <h3>Login</h3>

                    <p>{% trans "We're glad to see you again. Login to access your charts, and create new ones." %}</p>

                    <div class="login-form form-vertical">
                        <div class="control-group"><input class="login-email input-xxlarge span3" type="email" value="" placeholder="{% trans "email" %}" /></div>
                        <div class="control-group"><input class="login-pwd input-xxlarge span3" type="password" value="" placeholder="{% trans "password" %}" /></div>

                        <div class="row">
                            <div class="span2" style="padding-bottom:10px">
                                <a class="btn btn-login btn-primary btn-large">
                                    <i class="icon-user icon-white"></i> {% trans "Login" %}
                                </a>
                                <a style="display:none" class="btn btn-send-pw btn-info">
                                    {% trans "Send new password" %}
                                </a>
                            </div>
                            <div class="span2">
                                <label class="checkbox" for="keep-login">
                                    <input id="keep-login" class="keep-login" type="checkbox" checked="checked"> {% trans "Remember login?" %}
                                </label>
                                <a id="forgot-password" href="#">{% trans "Can't recall your password?" %}</a>
                                <a id="send-pw-cancel" style="display:none" href="#">{% trans "Return to login..." %}</a>
                            </div>
                        </div>
                    </div>

                </div>
                {% if not noSignup %}
                <div class="span3 row-signup">
                    <h3>{% trans "Create a new account" %}</h3>
                    <p>{% trans "Datawrapper is 100&#37; free and creating an account takes less than a minute. Just enter your email and pick a password, and you're done!" %}</p>
                    <div class="signup-form form-vertcal">
                        <div class="control-group">
                            <input type="email" class="input-xlarge span2 register-email" placeholder="{% trans "email" %}" />
                        </div>
                        <div class="control-group">
                            <input type="password" class="input-xlarge span2 register-pwd" placeholder="{% trans "password" %}" />
                        </div>
                        <div class="control-group">
                            <input type="password" class="input-xlarge span2 register-pwd-2" placeholder="{% trans "repeat password" %}" />
                        </div>
                        <a class="btn-register btn btn-large"><i class="icon-pencil"></i> {% trans "Sign Up" %}</a>
                    </div>
                </div>
                {% else %}
                <style>
                #dwLoginForm {
                    width: 420px;
                    margin-left: -210px;
                    box-shadow: 0 0 20px rgba(0,0,0, 0.3);
                    border: 0;
                    position: relative;
                }
                </style>
                {% endif %}
            </div>
            {% if has_hook('alternative_signin') %}
            <div style="padding:10px 13px 0;border-top:1px solid #eee;text-align:center">
               {% trans "Alternatively you can sign in via: " %}
                <div style="margin-top:4px">
                    {{ hook('alternative_signin') }}
                </div>
            </div>
            {% endif %}
        </div>

    </div>

        <script type="text/javascript">
        $(function() {
            //$('a').click(console.log);
            $('#forgot-password').click(function(e) {
                e.preventDefault();
                var form = $(e.target).parents('.modal');
                $('.login-pwd', form).hide();
                $('.btn-login', form).hide();
                $('label[for=keep-login]', form).hide();
                $('#forgot-password', form).hide();
                $('.btn-send-pw', form).fadeIn();
                $('#send-pw-cancel', form).fadeIn();
            });

            $('#send-pw-cancel').click(function(e) {
                e.preventDefault();
                var form = $(e.target).parents('.modal');
                $('.login-pwd', form).fadeIn();
                $('.btn-login', form).fadeIn();
                $('label[for=keep-login]', form).fadeIn();
                $('#forgot-password', form).fadeIn();
                $('.btn-send-pw', form).hide();
                $('#send-pw-cancel', form).hide();
            });

            $('.btn-send-pw').click(function(e) {
                if ($('.login-email').val().trim() == '') {
                    $('.login-email').parent().addClass('error');
                    return false;
                }
                $('.login-email').parent().removeClass('error');
                $.ajax({
                    url: '/api/account/reset-password',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify({
                        email: $('.login-email').val()
                    }),
                    success: function(res) {
                        if (res.status == 'ok') {
                            dw.backend.logMessage(res.data, $(e.target).parent());
                        } else {
                            if (res.code == 'login-email-unknown') {
                                $('.login-email').parent().addClass('error');
                            }
                            dw.backend.logError(res.message, $(e.target).parent());
                        }
                    }
                });
            });
        });
        </script>

{% endblock %}
