<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <p class="lead" style="margin:0">{{ block('title') }}</p>
</div>
<div class="modal-body">
    {{ block('content') }}
</div>
<div class="modal-footer">
	{% set _footer = block('footer') %}
	{% if _footer is not empty %}
		{{ _footer|raw }}
	{% else %}
   		<a class="btn" data-dismiss="modal">{% trans "Close" %}</a>
	{% endif %}
</div>