<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h1>{{ block('title') }}</h1>
</div>
<div class="modal-body">
    {{ block('content') }}
</div>
<div class="modal-footer">
    <a class="btn" data-dismiss="modal">{% trans "Close" %}</a>
</div>