<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>{{ block('title') }}</h3>
</div>
<div class="modal-body">
    {{ block('content') }}
</div>
<div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
</div>