{% extends "core.twig" %}

{% block content %}

<span class="label">The settings page is not implemented yet</span>

<div class="row">

    <div class="span6">

        <div class="form-horizontal">
            <fieldset>
                <legend>Account Settings</legend>

                <div class="control-group">
                    <label class="control-label" for="input01">E-Mail</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="input01">
                        <p class="help-block">This is the email address which you used to sign up. If you change your email, you will be asked to verify it again.</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input01">Password</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="input01">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input01">Password (repeat)</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="input01">
                        <p class="help-block">Just leave the password fields blank if you don't want to change your password.</p>
                    </div>
                </div>

                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Save changes</button>
                    <button class="btn">Undo changes</button>
                </div>
            </fieldset>

        </div>


        <div class="form-horizontal" style="margin-top:4em">
             <fieldset>
                <legend>Delete Datawrapper Account</legend>

                        <p>This will remove your Datawrapper account and all the charts you created so far. They won't be visible in places where you embedded them.</p>
                        <button class="btn btn-danger">Yes, delete my account!</button>

             </fieldset>
            
            <p></p>
        </div>
    </div>
    <div class="span6">
        <div class="form-horizontal">
            <fieldset>
                <legend>User Profile</legend>

                <div class="control-group">
                    <label class="control-label" for="input01">Name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="input01" placeholder="">
                        <p class="help-block">Filling out your profile is optional. If you do, you can display these information below the charts you publish.</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="input01">Website</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="input01" placeholder="http://">
                        <p class="help-block">Add a website that contains more information about you (e.g. your blog). Optionally you can display these information below you published charts.</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input01">Twitter</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="input01">
                        <p class="help-block">Enter your Twitter-Name, if you like.</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input01">Password (repeat)</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="input01">
                        <p class="help-block">Just leave the password fields blank if you don't want to change your password.</p>
                    </div>
                </div>

                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Save changes</button>
                    <button class="btn">Undo changes</button>
                </div>
            </fieldset>

        </div>

    </div>
</div>

{{ parent() }}
{% endblock %}