
/*
 * Default Theme
 * -------------
 *
 */

body.chart {
    font-family: Helvetica Neue, Arial;
    font-weight: 400;
    margin:5px 10px;
    font-size: 12px;
    background: #fff;
    overflow: visible;
    overflow-x:hidden;
}

h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 20px;
    text-align: left;
}

h1 span {
}

.chart p { margin: 15px 0; line-height: 19px;}

#chart {
    margin-top: 25px;
}

.label span {
    font-size: 12px;
    color: #333;
}

.label.highlighted, .label.axis {
    font-size: 12px;
    z-index: 100;
}

.label.hover {
    font-weight: bold;
}

.label.inverted span {
    color: #fff;
}

.label.highlighted {
    font-weight: bold;
}

.label.value span {
    font-size: 12px;
}

.label.series span {
    font-size: 12px;
}


.tooltip {
    z-index: 200;
    padding-bottom: 0px;
}

.tooltip .content {
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    padding: 5px 8px;
}

.tooltip label {
    font-weight: 700;
}

.tooltip label:after {
    content: ": ";
}

#footer {
    margin: 10px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    color: #888;
}

.footer-left {
    float: left;
}
.footer-right {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

svg .axis, svg .tick, svg .grid, svg rect {
    shape-rendering: crispEdges;
}

@media screen and (max-width: 400px) {
    h1, #footer, p, .label {
        display: none;
        position: absolute;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }

    #chart {
        margin: 0;
    }

    body { margin:0; padding: 0;}
}

.label.rotate90 {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.label.smaller span {
    font-size: 80%;
}