
/*
 * Default Theme
 * -------------
 *
 */

body, html {
    height: 100%;
}


body.chart {
    font-family: Helvetica Neue, Arial;
    font-weight: 400;
    font-size: 12px;
    margin: 0 5px;
    background: #fff;
    overflow: visible;
    overflow-x:hidden;
}

h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 10px;
    text-align: left;
}

h1 span {
}

.chart p { margin: 5px 0 10px!important; line-height: 19px;}

#chart {
    margin-top: 10px;
}

#chart.line-chart {
    margin-top: 20px;
}

.label span {
    font-size: 12px;
    color: #333;
}

.label.highlighted, .label.axis {
    font-size: 12px;
    z-index: 100;
}

.label.hover {
    font-weight: bold;
}

.label.inverted span {
    color: #fff;
}

.label.highlighted {
    font-weight: bold;
}

.label.value span {
    font-size: 12px;
}

.label.series span {
    font-size: 12px;
}


.tooltip {
    z-index: 200;
    padding-bottom: 0px;
}

.tooltip .content {
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    padding: 5px 8px;
}

.tooltip label {
    font-weight: 700;
}

.tooltip label:after {
    content: ": ";
}

#footer {
    font-size: 11px;
    color: #888;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

svg .axis, svg .tick, svg .grid, svg rect {
    shape-rendering: crispEdges;
}


.label.rotate90 {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.label.smaller span {
    font-size: 80%;
}

.filter-links a {
    padding: 0px 10px;
    box-shadow: 0 0 10px #ddd inset;
    border: 1px solid #bbb;
    border-left: 0;
    display: inline-block;
    text-decoration: none;
    color: #666;
    height: 28px;
    line-height: 28px;
    background: #fbfbfb;
}


.filter-links a:hover {
    background: #fff;
}

.filter-links a.active {
    font-weight: bold;
    color: #000;
    box-shadow: none;
    background: #fff;
    cursor: default;
}

.filter-links a:first-child {
    border-radius: 10px 0 0 10px;
    border-left: 1px solid #bbb;
}

.filter-links a:last-child {
    border-radius: 0 10px 10px 0;
}

.filter-select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    padding: 4px 6px;
    vertical-align: middle;
    font-size: 12px;
}
