
/*
 * WSJ Theme
 * ---------
 *
 */

@import url(http://fonts.googleapis.com/css?family=Economica:500,700);

body {
    font-family: "Economica",Arial,Helvetica,sans-serif;
    font-weight: normal;
    margin:0;
    color: #333;
    line-height: 1.5em;
    background: #fff;
    font-size: 15px;
}

h1 {
    font-family: "Economica",Georgia,'Century Schoolbook','Times New Roman',Times,serif;
    font-size: 28px;
    font-weight: 700;
    padding: 0;
    margin: 15px 20px 15px 20px;
    color: #000;
    line-height: 1.1em;
}

p {
    margin: 0 20px 20px;
}

#chart {
    margin-top: 0px;
}

#chart .label {
    font-size: 16px;
}

.tooltip {
    z-index: 200;
    padding-bottom: 10px;
    background: url('tooltip-bg.png') center bottom  no-repeat;
}

.tooltip .content {
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    padding: 2px 8px;
}

.tooltip label {
    font-weight: 700;
}

.tooltip label:after {
    content: ": ";
}

