{#
 Annotations
 #}

    <div class="annotations control-group">
        <label class="separator">{% trans "Annotate your chart" %}</label>

        <select>
            <option value="-">- {% trans "Select annotation type" %}</option>
        </select>
    </div>