<div class="toolbar" style="margin-top: 90px;">
    {{ svelte('resizer', {'chart': chart, 'theme': theme.getThemeData() }) }}

    {% include 'chart/visualize/colorblind-check.twig' %}
</div>

<style type="text/css">
    #svelte-resizer {
        display: flex;
    }
</style>