<div class="toolbar" style="margin-top: 90px;">
    {{ svelte('resizer', {'chart': chart, 'theme': theme.getThemeData() }) }}
    {{ svelte('colorblind-check', {'chart': chart, 'theme': theme.getThemeData() }) }}
</div>

<style type="text/css">
    #svelte-resizer {
        display: flex;
    }
</style>