    {% block body %}

        <h1>{{ title }}</h1>
        <p>{{ intro|purify|raw }}</p>

        <div id="chart"></div>

        <div class="footer">

            <div style="text-align:right"><div style="float:left">Quelle: {{ chartLocale }}</div> &copy; <a href="http://abzv.de">ABZV</a>, 2012</div>

        </div>

    {% endblock %}