

<h1>{{ title }}</h1>

{% if intro %}

<p>{{ intro|raw }}</p>

{% endif %}

<div id="chart">
</div>

<div class="tooltip">
    <div class="content">
        <label class="xlabel">x</label> <span class="xval"></span><br />
        <label class="ylabel">y</label> <span class="yval"></span>
    </div>
</div>
