

{% use "theme-core.twig" %}

{{ block('chart_head_no_fs') }}


<div id="chart"></div>

<div id="footer">
    {% if not plain %}
        <div class="footer-left">
             {% trans "Created with" %} <a href="{{ DW_DOMAIN }}" target="_blank" class="lgo">Datawrapper</a>
        </div>
        <div class="footer-right">
            <div class="toggleable-panel">
                {% if source %}

                    <span data-src="{% trans "Source: " %}" class="source-block">{% trans "Source: " %}
                    {% if sourceURL %}<a target="_blank" class="source" href="{{ sourceURL }}">{% endif %}{{ source }}{% if sourceURL %}</a>{% endif %}</span>

                {% endif %}
                <a href="data">{% trans "Get the data" %}</a>
            </div>
            <a class="toggle-panel">{% trans "About" %}</a>
        </div>
        <div class="toggleable-panel-overlay"></div>
    {% endif %}
</div>
