

{% use "theme-core.twig" %}

{{ block('chart_head_no_fs') }}


<div id="chart"></div>

<div id="footer">
    {% if not plain %}
        <div class="footer-left">
            {{ block('chart_source') }}
        </div>
        <div class="footer-right">
            {% trans "Created with" %} <a href="{{ DW_DOMAIN }}_/{{ chart.id }}" target="_blank">{% trans "Datawrapper" %}</a>
        </div>
    {% endif %}
</div>
