@import url(http://fonts.googleapis.com/css?family=Ubuntu:700,400);

/*
 * Default Theme
 * -------------
 *
 */

body {
    font-family: Ubuntu;
    font-weight: 400;
    margin:0;
    font-size: 14px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 15px;
}

p { margin: 0px 0px 15px; line-height: 19px;}

#chart {
    margin-top: 25px;
    width: 60%;
}

.label {
    font-size: 14px;
}

.sidecol {
    width: 40%;
    float: right;
}