@import url(http://fonts.googleapis.com/css?family=Ubuntu:700,400);

/*
 * Default Theme
 * -------------
 *
 */


h1 {
    margin: 0px 0px 15px;
}

p { margin: 0px 0px 15px; line-height: 19px;}

#chart {
    margin-top: 25px;
    width: 60%;
}

.sidecol {
    width: 40%;
    float: right;
}