
/*
 * Deutsche Welle Theme
 * --------------------
 *
 */

body.chart {
    font: 13px/18px Georgia,serif;
    margin:0;
    overflow: visible;
    overflow-x:hidden;
}

.widget, .line-chart .label span {
    background: #E6E3E0!important;
}


.widget .widget-header {
    background: #666666;
    color: #fff;
    height: 30px;
}

.widget-header h1 {
    font: 17px/30px normal Georgia,serif;
    padding-left: 20px;
    margin: 0;
}

.widget-body {
    padding: 20px 20px 10px 20px;
}


.chart p { margin: 15px 0; line-height: 19px;}

#chart {
    margin-top: 25px;
}

.label span {
    font-size: 12px;
    color: #000;
    font-family: Arial;
}

.label.highlighted, .label.axis {
    font-size: 12px;
    z-index: 100;
}

.label.hover {
    font-weight: bold;
}

.label.inverted span {
    color: #fff;
}

.label.highlighted {
    font-weight: bold;
}

.label.value span {
    font-size: 12px;
}

.label.series span {
    font-size: 12px;
}


.tooltip {
    z-index: 200;
    padding-bottom: 0px;
}

.tooltip .content {
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    padding: 5px 8px;
}

.tooltip label {
    font-weight: 700;
}

.tooltip label:after {
    content: ": ";
}

#footer {
    margin: 10px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    color: #888;
    font-family: Arial;
}

.footer-left {
    float: left;
}
.footer-right {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

svg .axis, svg .tick, svg .grid, svg rect {
    shape-rendering: crispEdges;
}

@media screen and (max-width: 400px) {
    h1, #footer, p, .label {
        display: none;
        position: absolute;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }

    #chart {
        margin: 0;
    }

    body.chart { margin:0; padding: 0;}

    .widget-body {
        padding: 0;
    }

    .widget-header {
        display: none;
    }
}

.label.rotate90 {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.label.smaller span {
    font-size: 80%;
}

.legend {
    position: relative;
    top: -10px;
}